.m-teaser {
  @apply bg-black;

  &:hover, &:focus {
    .m-teaser__img {
      transform: scale(1.1);
    }
  }
}

.m-teaser__title {
  margin-top: -36px;
  line-height: 1;
  @apply mb-0 pb-0;

  @screen md {
    line-height: 0.8;
  }
  @screen lg {
    margin-top: -49px;
  }
}

.m-teaser__img {
  @apply w-full relative z-0 opacity-25 transition duration-500 ease-in-out;

  &.is--active {
    @apply opacity-100;
  }
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 15s linear infinite;
}