@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/FoundersGrotesk-Regular.woff') format('woff'),
      url('../fonts/FoundersGrotesk-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../fonts/FoundersGrotesk-Light.woff') format('woff'),
      url('../fonts/FoundersGrotesk-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Bon Vivant';
  src: url('../fonts/BonVivantSerif.woff') format('woff'),
      url('../fonts/BonVivantSerif.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}