body {
  @apply font-sans antialiased;
}

/* Headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply
    p-0
    mb-6
		leading-none
		font-display;
}

h1, .h1 {
  @apply text-5xl;

  @screen lg {
    @apply text-6xl;
  }
  
  @screen xl {
    @apply text-7xl;
  }
}

.home-text {
  font-size: 38px !important;
  
  @screen md {
    @apply text-center;
    font-size: 53px !important;
  }

  @screen lg {
    font-size: 70px !important;
  }
  
  @screen 2xl {
    font-size: 80px !important;
  }

  span {
    @apply font-sans font-light;
    font-size: 43px !important;
    
    @screen md {
      font-size: 60px !important;
    }

    @screen lg {
      font-size: 80px !important;
    }

    @screen 2xl {
      font-size: 90px !important;
    }
  }
}

h2, .h2 {
  @apply text-5xl;
  
  @screen lg {
    @apply text-6xl;
  }
}

h3, .h3 {
  @apply text-4xl;
  
  @screen lg {
    @apply text-5xl;
  }
}

/* Link */
.link {
  @apply text-white underline transition;

  &:hover, &:focus {
    @apply text-grey;
  }

  &.is--active {
    @apply text-white;
  }
}

/* Content */
.content {
  
  /* Paragraph */
  p {
    @apply mb-6;
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;
  }

  ul {
    @apply list-disc list-inside pl-0;

    li {
      @apply mb-1 pl-0;
    }
  }
}

.content--floor {
  p {
    @apply text-base;

    @screen md {
      @apply text-lg;
    }
  }
  ul {
    li {
      @apply text-sm;
    }
  }
}

.content--address {
  p {
    @apply mb-0 text-base;
  }
}