/* Local Fonts */
@import './partials/_fonts.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_container.css';
@import './partials/_typography.css';
@import './partials/_forms.css';
@import './partials/_logo.css';
@import '../components/teaser/_teaser.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

body {
  @apply bg-black text-white uppercase text-base;
}

button {
  line-height: 1;
}

.min-h-maxed {
  min-height: calc(100vh - 130px);
  @apply pt-40 pb-16;

  @screen md {
    min-height: calc(100vh - 100px);
    @apply pt-32;
  }
}

#mad-text {
  @apply font-display !important;
}

.mobile-overlay {
  padding-top: 26px;
  padding-bottom: 27px;
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black overflow-hidden
}

.home-image {
  max-width: 120px;
  opacity: 0.2;
  transform-origin: center;
  @apply transition;

  &:hover {
    transform: scale(1.05);
    opacity: 0.75;
  }

  @screen sm {
    max-width: 150px !important;
  }

  @screen md {
    max-width: 200px !important;
  }
  
  @screen lg {
    max-width: 280px !important;
  }

  @screen xl {
    max-width: 360px !important;
  }
}

.image-gradient {
  height: 45%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
}

.image-gradient-title {
  margin-top: -17%;
}

.css-cols {
  @screen md {
    column-count: 2;
    column-gap: 50px;
  }
}

/*! purgecss start ignore */
.vertical {
  @screen md {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    max-height: 400px;
  }
}

.tab__panel {
  opacity: 0;
  
  &[class*='--selected'] {
    opacity: 1;
    animation: fade-and-slide-in 350ms ease-in-out;
  }
}

@keyframes fade-and-slide-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.react-datepicker-wrapper {
  @apply w-full !important;
}

.react-datepicker {
  @apply font-sans !important;
  background-color: #000!important;
  color: #FFF!important;
  border: 1px solid white!important;
  border-radius: 0!important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #FFF!important;
}

.react-datepicker__header {
  @apply bg-white text-black rounded-none !important;
}

.react-datepicker__triangle {
  @apply hidden !important;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover {
  border-radius: 0!important;
  background-color: #FFF!important;
  color: #000!important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
  @apply bg-cream text-black rounded-none !important;
}

.react-datepicker__navigation--next {
  border-left-color: #000 !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #000 !important;
}
.react-datepicker__day-name {
  @apply text-black !important;
}
/*! purgecss end ignore */